<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Menu-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>685505501CF6A6E600B66F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>685505641CF6A6E700B66F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6855056F1CF6A6E700B66F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
